extends ./layout.pug

block styles
  link(href='css/404.css' type='text/css' rel='stylesheet')
  title Uh Oh 404...


block content
  h1 Page not found
  img(src='img/mario404.png' alt='Mario 404' title='Mario 404' class="center")