doctype html
head
  title Dabbling in CSS
  link(rel='shortcut icon' href='img/css.ico' type='image/x-icon')
  link(href='css/cssevo4.css' type='text/css' rel='stylesheet')
  link(href='/fonts/SuperMario256.ttf' rel='stylesheet')
  link(href='/fonts/SuperMarioBros.ttf' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='author' content='Me')
  meta(name='description' content='Look at the progress of a learning full stack developer as he progresses through the ComIT course learning HTML, CSS, and Node with focus on both front and backend coding.')
h1.surprise
  | CSS - Style your world!
  a(name='surprise')
p
  | CSS is a set of rules that tell your browser how elements should be rendered. It allows you to apply styling to your HTML document so it&apos;s not the same boring black and
  | white, serif font, blue underlined links, all on a white background like you&apos;ve seen in the last couple evolutions. This is accomplished by writing your rules in a
  | separate document (a Cascading Style Sheet) and linking your HTML document to the CSS document. Alternatively you can write your CSS code directly in the head of the
  | document in a &lt;style&gt; tag, but that&apos;s old school. We don&apos;t do that. Lastly you can write your styling directly into individual elements with a style attribute. This
  | is good when you need to override the existing style sheet for individual items but is cumbersome and difficult to modify. An easy way to write CSS and have it apply to
  | the elements you are targetting is to assign those elements a class or id attribute and write your CSS rules for those classes and id&apos;s. Style sheets are read from the top
  | down so the last styling rules you write are the ones that are followed - if you overwrite something from earlier it&apos;ll display what you wrote last, not first. Concepts on
  | this page are presented mostly in the same order that we learned them and no attempt was made to make this page pretty. If it&apos;s ugly it stays ugly. Ready? Let&apos;s see
  | this in action.
.indent
  p.sibling
    | This paragraph text is in pink because it is the direct child element of the new div we created
  p.sibling
    | This paragraph text is in blue because it is a general sibling of the above paragraph
  p.sibling
    | This paragraph text is also in blue because it is a general sibling of the first paragraph in this div
  p.sibling(style='color: black')
    | This paragraph is black because it contains inline styling that overwrites the stylesheet
p
  a.linkdemo(href='https://www.smwcentral.net' target='_blank') SMW Cental - THIS IS A LINK
  br
  |         The link is green instead of blue before it is visited, contains no underline until hovered over, and is orange once visited instead of purple. If you see this link
  |         as orange and you haven&apos;t clicked it yet it just means you&apos;ve been to the website before and it is still in your browser&apos;s cache.
p
  | To make this demonstration work, we&apos;re going to need lots of text. 
  a(href='https://www.lipsum.com/' target='_blank') Lorem Ipsum
  |  will do this for you. You&apos;re going 
  |         to see styling applied to the first line of each paragraph, the first letter of each paragraph, and to highlighted text (you&apos;ll have to do this yourself). I also took the 
  |         liberty of importing some custom fonts and apply various inline styling throughout just to let you see what else can be accomplished.
  .indent
    p.firsts
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas consequat lobortis. Quisque bibendum et mi id suscipit. Duis interdum ex id ipsum pretium, ut 
      | hendrerit lectus cursus. 
      span.smw
        | Aliquam nec ex in dui porta volutpat in ac erat. Vestibulum aliquet nec nulla nec sagittis.
      |  Pellentesque varius justo in porttitor ultricies. Ut
      |             pulvinar arcu orci, quis aliquam arcu dignissim efficitur.
    p.firsts
      | Sed consequat laoreet nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu porttitor felis. Morbi vitae dictum est, quis mollis felis. Sed aliquam 
      | leo eu neque sollicitudin, sed dignissim lectus sollicitudin. 
      span.smb
        | Vivamus et sem at lacus venenatis varius. Etiam iaculis cursus velit ac congue. Aliquam eleifend lorem
        | molestie massa sollicitudin auctor. Aliquam metus est, ultricies et odio quis, ornare tempus nisl. Maecenas ultricies sit amet tellus et placerat. Nulla lacus lorem,
        | tempor nec cursus nec, vehicula id purus.
    p.firsts
      | In vestibulum ex quam, eget feugiat sem viverra in. Quisque vel leo aliquet enim suscipit gravida. Integer ultricies enim eros, ac bibendum turpis suscipit quis. 
      | Sed a finibus nunc. Donec malesuada non augue mattis tempus. Integer dictum semper libero, ullamcorper luctus sem commodo nec. Integer mollis convallis lacus, vitae 
      | hendrerit quam gravida finibus. 
      span.helv
        | Fusce egestas euismod pellentesque. Nulla feugiat dictum mauris, ac scelerisque leo laoreet auctor. Praesent sed ligula massa. Phasellus
        | facilisis, sem sed vestibulum blandit, sapien dolor aliquam arcu, at convallis diam quam nec erat. Duis porta lectus nec ipsum faucibus, quis porttitor mauris cursus.
        | Pellentesque a sapien eu mauris gravida fermentum.
    p.firsts
      | Ut sodales eros quis ligula ultricies, in dapibus enim dignissim. Mauris at erat rutrum, maximus neque bibendum, suscipit mi. Praesent eget tristique metus. Integer odio
      | dui, vehicula at quam quis, rhoncus consequat nisi. Nulla accumsan viverra quam. Aenean vitae ullamcorper tellus, porttitor imperdiet nibh. Curabitur sit amet ligula ut
      | ex sagittis posuere at non purus. Maecenas hendrerit tincidunt ante, quis semper orci varius sit amet. Nam a tristique velit.
    p.firsts
      span.height
        | Fusce aliquet posuere orci, nec gravida odio pretium eget. Ut ultricies placerat arcu, in aliquet tortor tincidunt vitae. Donec ultricies suscipit ex, id lobortis diam
        | maximus bibendum. Nunc imperdiet lectus eget arcu facilisis blandit. Fusce rhoncus lorem lorem, ut vestibulum nunc vestibulum ac. Cras accumsan metus non nibh gravida
        | volutpat. Morbi sagittis vulputate venenatis. Maecenas eu ornare arcu, dapibus porttitor ante. Pellentesque placerat malesuada leo, ut egestas ipsum lacinia vitae.
        | Praesent nec dolor faucibus, ullamcorper purus viverra, tincidunt risus.
  br
  br
  br
p
  | Well this was fun. Hey if you haven&apos;t done it yet go put your mouse over the header of this page. 
  a(href='#surprise') Go To Top
  br
  |         We played with font color, family, size, weight, style, we can transform text so it always 
  span.cap capitalized
  |  or 
  span.upper all uppercase
  |         or 
  span.lower ALL LOWERCASE
  | . We can start aligning text... check these headings out:
h2.left I&apos;m Left
h2.center I&apos;m Centered
h2.right And I&apos;m Right
br
p
  span.hard
    | We can change the way letters and words are spaced as well as give the letters a shadow to make it really hard to read.
  span.easy Or we can keep it easy to read.
p
  | We also 
  img.a(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          learned to 
  img.b(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          postion things 
  img.c(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          relative to 
  img.d(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          the inline 
  img.e(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          text in 
  img.f(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          which they 
  img.g(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
  |          are located 
  img.h(src='img/mariobullet.png' height='20' width='auto' alt='Mario Head' title='Mario Head')
.gradient
  p
    | Lastly we learned to put a background into things. No images, just color, but we learned a little about gradient. I had this background covering the entire page at one
    | point but it was so ugly even I couldn&apos;t handle it. Let&apos;s get some lorem ipsum in here and then disappear from this place and level ourselves up again. Lorem ipsum dolor sit amet,
    | consectetur adipiscing elit. Donec mauris elit, facilisis eget turpis in, posuere pretium lorem. Phasellus ac congue nisl, vel varius neque. Fusce convallis eget sem eleifend
    | aliquam. Maecenas elementum sit amet turpis et convallis. Sed in nisi in ipsum imperdiet volutpat. Maecenas vel eros vitae tortor scelerisque molestie. Morbi ornare sem in
    | sagittis suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam tempor tincidunt neque eget dapibus. Nulla ex nisi, dictum
    | nec pharetra sit amet, viverra at sapien. Donec quis blandit nibh. Ut varius, eros vitae eleifend auctor, ligula metus viverra nibh, sed porttitor turpis mi et justo. Donec
    | faucibus tellus mauris, eu porta mauris placerat in. Etiam molestie, lectus nec aliquam maximus, nulla risus lobortis massa, id molestie libero felis in diam. Aenean mollis
    | orci non quam viverra tincidunt. Proin lobortis libero et eros iaculis luctus. In consectetur lorem justo, eget egestas ante malesuada et. Aenean sit amet dolor quam.
    | Pellentesque urna leo, vulputate id nunc in, ornare pharetra velit. Integer tristique ipsum vel ornare suscipit. Nunc tincidunt pulvinar ullamcorper. Fusce quis tellus mi.
    | Fusce a ex elit. Ut porta tortor mi, vel interdum ipsum hendrerit congue. Quisque tempor tristique mi sed malesuada. Nam sit amet mollis leo. Maecenas dolor enim,
    | venenatis in fermentum eget, aliquet eget neque. Integer tortor mauris, laoreet eu nibh vel, rutrum rutrum ex. Proin blandit elit urna, quis venenatis purus venenatis sit
    | amet. Mauris viverra justo vitae mattis accumsan. Nullam eleifend sagittis neque vitae dictum. Quisque vitae lectus elit. Integer pulvinar pulvinar faucibus. Quisque congue
    | augue sit amet nisl luctus iaculis. Mauris eu nisl orci.
br
p
  | As you can see, just because you can style things doesn&apos;t mean you should. There&apos;s a lot of ugly here. And there&apos;s more to come. Our next evolution is still home-brewed CSS
  | and we&apos;re limited by what we know. Soon though... soon it will come together and we&apos;ll start making things people want to look it. Shall we venture forth to the world of
  | borders, backgrounds, and the box model?
br
br
a(href='evo5') Next Level
//
  EVOLUTION 5
  CSS - color your world!
  Parts of this page are intentionally ugly, please do not contact me about how to fix it, i'll just make it uglier
  Cascading Style Sheet, describe how elements should be rendered
  <link href="styles.css" type="text/css" rel="stylesheet" /> in the header links your independent styles.css document to your HTML
  <style type="text/css"> added in HTML header data lets you write CSS code directly in your HTML file
  can also add style attribute to any element and define CSS styling on a line by line basis... that's hard, but it's a good option to override styles since it is read last
  <p style="color: white;">White text</p>
  element_selector{
  property_name: property_value;
  }
  element_selector is HTML element we want to target, property_name is the style we want to change, and the property_value is what we want to change to
  element_selectors
  #idname = selects all elements with id = "idname"
  .classname = selects all elements with class = "classname"
  XX.classname or XX#idname = selects all XX elements with "classname" or "idname"
  firstselector, secondselector = applies styling to both selectors
  firstselector secondselector = applies styling to all secondselector that are children of firstselectors
  firstselector > secondselector = applies styling to all secondselector that are DIRECT children of firstselector
  firstselector + secondselector = applies styling to secondselector that is adjacent sibling of firstselector
  firstselector ~ secondselector = applies styling to ALL secondselector that are sibling of firstselector
  * = apply to everything, universal
  XX[attribute = "value"] = applies styling to XX elements with specified attribute at specified value
  a:link = applies styling to link
  a:active = applies styling to an active link
  a:hover = applies styling to a link on hover
  a:visited = applies styling to a visited link
  XX::first-line = applies styling to first-line in all XX elements
  XX::first-letter
  XX::selection = applies styling when things are highlighted
  XX::after = applies styling to all content after content is defined
  p::after {
  content: "1";
  color: "green";
  }
  XX::before
  property_names
  color = sets color of element's text and text decoration, accepts named colors, RGB, and hexcode
  font-family = sets group of fonts that are prioritized for use on the site
  @font-face = lets you pull custom fonts from the web, requires some specific values
  @font-face {
  font-family: SuperMarioBros;
  src: url(fonts/SuperMarioBros.ttf)
  } -> can now pull in SuperMarioBros into other font-family values
  font-size = sets size of font using pixels, points or em values
  need to set an absolute font size before using em values as relative sizes
  font-weight = normal, bold, or bolder
  font-style = normal, italic, oblique
  text-transform = capitalize, uppercase, lowercase
  text-align = left, right, center, justify, justify-all, start, end, match-parent
  text-decoration-line = overline, line-through, underline, blink
  text-decoration-color = sets color of the text decoration additions
  text-decoration-style = dashed, wavy, dotted, double, solid
  text-decoration = style line color
  text-indent = XXpx sets indentation, can also use %
  text-shadow = accepts list of shadows to be applied to text (offset x, offset y, blur radius, color) 5px 5px 1px black
  letter-spacing = Xpx sets spacing between letters
  word-spacing = Xpx
  line-height = sets amount of space used for lines (default approx 1.2 (multiple of text size))
  vertical-align - sets vert alignment of an line or table-cell box, baseline, sub,super,text-top, text-bottom, middle, top, bottom
  background-color
  linear-gradient(degrees, color1, color2) creates a bg image which transitions between 2 or more colors, it's a gradient
