doctype html
head
  title Make it Dance with JS
  link(rel='shortcut icon' href='img/js.ico' type='image/x-icon')
  link(href='css/cssevo7.css' type='text/css' rel='stylesheet')
  link(href='css/fonts/SuperMario256.ttf' rel='stylesheet')
  link(href='css/fonts/SuperMarioBros.ttf' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='author' content='Me')
  meta(name='description' content='Look at the progress of a learning full stack developer as he progresses through the ComIT course learning HTML, CSS, and Node with focus on both front and backend coding.')
nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#')
    img(src='img/yoshihead.png' alt='Yoshi Head' title='Yoshi' height='40px' width='auto')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Link 1 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Link 2
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Dropdown Menu
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Link 3
          a.dropdown-item(href='#') Link 4
          .dropdown-divider
          a.dropdown-item(href='#') Link 5 Under Divider
      li.nav-item
        a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled Link
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-primary.my-2.my-sm-0(type='submit') Search
#bodynonav
  h1 Interactivity with JavaScript
  br
  br
  p
    | We learned a lot about JavaScript and, rather than explain it all here, I&apos;m just going to go ahead and demonstrate it then explain what&apos;s happening at the end. Just 
    | follow the rules:
  .container
    .row
      .col-3
        p#x
        p#y
      .col-6(style='font-weight: bold;')
        ol
          li Click the button
          li Do what gets asked of you
          li Then click on the blue box
          li The blue box will turn green and tell you a little something
          li Another box will turn blue - click that one next
          li Carry on until all boxes are green
          li Click the link under the 6 boxes to try again
      .col-3
  .container
    .row
      .col-12
        button#start.btn.btn-primary.btn-lg.btn-block(type='button') Click this Button
  br
  .container
    .row
      #div1.col-4.next
        | Box 1
      #div2.col-4.after
        p Box 2
      #div3.col-4.after
        | Box 3
  .container
    .row
      #div4.col-4.after
        | Box 4
      #div5.col-4.after
        | Box 5
      #div6.col-4.after
        p#time Last box!
  .container
    .row
      .col-4
        a#goAgain(href='#')
  br
  .container
    .row
      .col-12
        p
          | OK so what just happened here? We&apos;ve got the large button styled by Bootstrap listening for a click. Nothing else works until the button is clicked. Once it&apos;s clicked
          | you get a prompt for a positive non-zero integer with some JavaScript validating your input. I couldn&apos;t break it, but if you can please let me know. Once it&apos;s
          | got a valid entry the rest of the divs (again, styled by Bootstrap) are ready for their events (also a click, but it could be mouseover or something else). We&apos;re
          | replacing classes as we click on valid divs to change the background and border colors. We&apos;re also writing in not just text but HTML as you&apos;re moving along and
          | watching the JavaScript that I wrote play with your number. Retrieving the buttons and divs to have them listen for JavaScript events is based on the DOM which
          | I&apos;m not going to try to explain. If I could explain it well I&apos;d be teaching, not learning.
        p
          | We start by simply displaying your number. Then we apply a few basic operators to it. Then we get another number from you (with validation) and mash them together
          | in a few different ways. Then we run a little loop based on your number to create the next 1000 numbers in sequence. I displayed this in the console instead of
          | on the document itself to save your eyes. Next I converted your number to a string so I could find out how long it was, tell you the last digits, and insert
          | it as text into a link that I generated (I&apos;m actually pretty proud of this one). Last I started taking away from your number every second. This decrementing number
          | doesn&apos;t stop unless you stop the timer, which you do so by canceling the &quot;Go Again&quot; prompt. There&apos;s a lot going on here and it&apos;s a ton to try to explain. 
          | It&apos;s not very efficient (I could have used arrays for the div selectors,
          | maybe written a few more functions so I wouldn&apos;t have to repeat my code so much, you can check it all out on my Github page though under 
          a(href='https://github.com/gou15/my-first-site' target='_blank') "finalproject"
          | ).
  br
  br
  .container
    .row.text-center
      .col-4
      .col-4
        a(href='evo8' style='font-size: 2em;') Next Level
      .col-4
  br
  br
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(src='js/evo7.js')
