doctype html
head
  title My First Site
  link(rel='stylesheet' href='/css/style.css')
  link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
div
  h1 Hello World!!!
  p Now let&apos;s conquer the world!!
  button Click Me
script(src='/js/script.js' type='text/javascript')
