doctype html
head
  link(rel='shortcut icon' href='img/mario.ico' type='image/x-icon')
  block styles
  link(href='css/fonts/SuperMario256.ttf' rel='stylesheet')
  link(href='css/fonts/SuperMarioBros.ttf' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='author' content='Me')
  meta(name='description' content='Look at the progress of a learning full stack developer as he progresses through the ComIT course learning HTML, CSS, and Node with focus on both front and backend coding.')
nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#')
    img(src='img/yoshihead.png' alt='Yoshi Head' title='Yoshi' height='40px' width='auto')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Link 1 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Link 2
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Dropdown Menu
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Link 3
          a.dropdown-item(href='#') Link 4
          .dropdown-divider
          a.dropdown-item(href='#') Link 5 Under Divider
      li.nav-item
        a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled Link
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-primary.my-2.my-sm-0(type='submit') Search
#bodynonav
  block content

  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  block scripts